### PROTECT FILES ###
<tFilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh$">
Order Allow Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strona-glowna index.html
RewriteRule oferta offer.html
RewriteRule pojazdy vehicles.html
RewriteRule kontakt contact.html
